@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  /* padding-top: 200px; */
  background-color: #111;
  color: white;
  font-family: "Jost", sans-serif;
}
h1 {
  font-size: 64px;
  font-weight: 200;
}
h2 {
  font-size: 32px;
  font-weight: 200;
}
svg {
  width: 400px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 120px;
  background-color: #1a1a1a;
}
nav a {
  color: white;
  margin: 0 20px;
}
